header {
  display: grid;
  justify-items: center;
  justify-content: space-evenly;
}

main {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  justify-content: space-evenly;
}

body {
  background: linear-gradient(to right, #ff0099, #493240);
  color: #eaeaea;
  font-size: 30px;
}